* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #575454;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.dashboard {
    background-color: rgb(54, 53, 53);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 98%;
    height: 98%;
    text-align: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #ddd7d7;
    margin-bottom: 20px;
}

h2 {
    color: #4a4a4a;
    margin-top: 20px;
}

h3 {
    color: #666;
    margin: 15px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

li {
    background-color: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    text-align: left;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
}

button {
    background-color: #252627;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #18191a;
}

#logout {
    background-color: #dc3545;
    margin-top: 20px;
}

#logout:hover {
    background-color: #8f0916;
}
